body {
  background: rgba(245, 254, 255, 1);
  color: #2a323a;
}
header {
  min-width: 100%;
  height: 300px;
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  z-index: -10;
}

main {
  max-width: 1080px;
  margin: 0 auto;
}

section.hero {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  padding-top: 200px;
  margin-bottom: 4rem;
}

section.hero img {
  width: 200px;
  border-radius: 50%;
  border: 6px solid white;
}

h1 {
  font-size: 4rem;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

h1,
h2,
h3 {
  font-family: "Castoro", serif;
}

p {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
}

em {
  font-style: normal;
  font-weight: 500;
}

section.articles {
  margin: 0 auto;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 4rem;
  margin-bottom: 4rem;
}

section article {
  display: inline-block;
}

section.articles img {
  width: 100%;
  transition: all 0.2s ease-in-out;
}
section.articles img:hover {
  border-radius: 50%;
}
section.articles p,
section.articles h3 {
  text-align: left;
}
footer {
  width: 100%;
  height: 40px;
  background-color: #125668;
  padding: 20px 0;
  margin-top: 20px;
  text-align: center;
}
